<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.app.personal.dao.PersonalDao">

    <!--登录用户详情-->
    <select id="findLoginMes" parameterType="com.xzsd.app.personal.entity.LoginMes" resultType="com.xzsd.app.personal.entity.LoginMes">
        select
            user_name   userName,
            user_head  userImage,
            user_code  loginCode,
            user_role  userRole
        from t_sys_user
        where user_code = #{userCode}
        and is_deleted=0
    </select>

    <!--根据角色查询个人信息-->
    <select id="findRoleMes" parameterType="com.xzsd.app.personal.entity.PersonalInfo" resultType="com.xzsd.app.personal.entity.PersonalInfo">
        select
        a.user_code userCode,
        a.user_acct userAcct,
        a.user_name userName,
        a.user_head userImage,
        a.user_role userRole
        <if test="userRole == 4">
            ,
            c.store_code storeCode,
            c.store_name storeName,
            CONCAT_WS('',d.dict_name,e.dict_name,f.dict_name,c.store_address) AS storeAddress,
            c.invite_code inviteCode
        </if>
        <if test="userRole == 3">
            ,
            a.user_name driverName,
            a.user_phone driverPhone
        </if>
        <if test="userRole == 2">
            ,
            b.store_code storeCode,
            b.store_name storeName,
            CONCAT_WS('',d.dict_name,e.dict_name,f.dict_name,b.store_address) AS storeAddress,
            b.store_address storeAddress,
            b.invite_code inviteCode
        </if>
        from t_sys_user a
        <if test="userRole == 2">
            left join t_store b on (a.user_code = b.boss_code and b.is_deleted = 0)
            left join t_dict d on (d.dict_id = b.province_id)
            left join t_dict e on (e.dict_id = b.city_id)
            left join t_dict f on (f.dict_id = b.district_id)
        </if>
        <if test="userRole == 3">
           left join t_driver b on (a.user_code = b.driver_code and b.is_deleted = 0)
        </if>
        <if test="userRole == 4">
            left join t_sys_cust b on (a.user_code = b.cust_code)
            left join t_store c on ( b.invite_code = c.invite_code)
            left join t_dict d on (d.dict_id = c.province_id)
            left join t_dict e on (e.dict_id = c.city_id)
            left join t_dict f on (f.dict_id = c.district_id)
        </if>
        where a.is_deleted = 0 and a.user_code = #{userCode}

    </select>

    <!--根据角色编号查询个人信息-->
    <select id="findRoleMesByCode" parameterType="com.xzsd.app.personal.entity.PersonalInfo" resultType="com.xzsd.app.personal.entity.PersonalInfo">
        select
        a.user_code userCode,
        a.user_acct userAcct,
        a.user_name userName,
        a.user_head userImage,
        a.user_role userRole
        <if test="userRole == 4">
            ,
            c.store_code storeCode,
            c.store_name storeName,
            c.store_address storeAddress
        </if>
        <if test="userRole == 3">
            ,
            a.user_name driverName,
            a.user_phone driverPhone
        </if>
        <if test="userRole == 2">
            ,
            b.store_code storeCode,
            b.store_name storeName,
            b.store_address storeAddress,
            b.invite_code inviteCode
        </if>
        from t_sys_user a
        <if test="userRole == 2">
            left join t_store b on (a.user_code = b.boss_code and b.is_deleted = 0)
        </if>
        <if test="userRole == 3">
            left join t_driver b on (a.user_code = b.driver_code and b.is_deleted = 0)
        </if>
        <if test="userRole == 4">
            left join t_sys_cust b on (a.user_code = b.cust_code)
            left join t_store c on ( b.invite_code = c.invite_code)
        </if>
        where a.is_deleted = 0 and a.user_code = #{userCode}

    </select>

    <!--获取用户详情-->
    <select id="findPassword" parameterType="com.xzsd.app.personal.entity.UserPaw" resultType="com.xzsd.app.personal.entity.UserPaw">
        select
            user_password userPassword
        from
            t_sys_user
        where user_code = #{userCode}
        and is_deleted=0
    </select>

    <!--修改密码-->
    <update id="updatePassword" parameterType="com.xzsd.app.personal.entity.UserPaw">
        update t_sys_user
        set
            user_password   = #{newPassword}
        where user_code=#{userCode}
    </update>

    <!--修改店铺邀请码-->
    <update id="updateInviteCode" parameterType="com.xzsd.app.personal.entity.UserInvite">
        update t_sys_cust
        set
            invite_code = #{newInviteCode}
        where cust_code = #{userCode}
    </update>

    <!--修改用户头像-->
    <update id="updateUserImage" parameterType="com.xzsd.app.personal.entity.UserImage">
        update t_sys_user
        set
            user_head = #{userImage}
        where user_code = #{userCode}
    </update>

    <!--根据角色编号查询个人信息-->
    <select id="findLoginRole" parameterType="com.xzsd.app.personal.entity.LoginInfo" resultType="com.xzsd.app.personal.entity.LoginInfo">
        select
        a.user_role userRole
        from t_sys_user a
        where a.is_deleted = 0 and a.user_acct = #{userAcct}

    </select>



</mapper>